<!--
  Generated template for the RestaurentDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header class="card-background-page">
    <!-- <div *ngFor="let restaurent of rest_detail" [ngStyle]="background:url('../../assets/images/{{restaurent.photo}}')" class="toolbar-background toolbar-background-ios" ng-reflect-klass="toolbar-background" ng-reflect-ng-class="toolbar-background-ios"></div> -->
    <ion-navbar>
<div>

  
      <style>

         /* $brandColor: {{restaurent.photo}}; 

    .card-background-page {
      background-image: url("../../assets/images/"+$brandColor);
       border: 5px solid green; 
    } */
</style>
</div>



        <div class="card-title" *ngFor="let restaurent of rest_detail">{{restaurent.company_name}}</div>
        <div class="card-subtitle" *ngFor="let restaurent of rest_detail">{{restaurent.city}}</div>

        <ion-buttons end class="search-btn">
            <button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
        </ion-buttons>

    </ion-navbar>

</ion-header>




<ion-content padding>

    <ion-list>
        <h6>Description</h6>
        <p *ngFor="let restaurent of rest_detail">{{restaurent.description}}</p>
    </ion-list>

    <ion-list>
        <h6>Opening hours</h6>
        <p *ngFor="let restaurent of rest_detail">Daily {{restaurent.timeopen}} - {{restaurent.timeclose}} Inactive</p>
    </ion-list>

    <ion-list *ngFor="let restaurent of rest_detail">
        <h6>Address</h6>
        <p>{{restaurent.address}}</p>
    </ion-list>

    <ion-list>
        <h6>Specific</h6>
        <p *ngFor="let restaurent of rest_detail">{{restaurent.specific}}</p>
    </ion-list>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-list>
                    <ion-label>Not showing up fee</ion-label>
                    <b>123</b>
                </ion-list>
            </ion-col>
            <ion-col>
                <ion-list>
                    <ion-label>Minimum % of people </ion-label>
                    <b>50% <ion-icon name="alert"></ion-icon> </b>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>

    <button ion-button block color="light" *ngFor="let restaurent of rest_detail" (click)="bookRestaurent(restaurent.rest_id)">Book</button>

</ion-content>